text {
  font: 26px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.enter {
  fill: hsl(312, 100%, 48%);
}

.update {
  fill: hsl(274, 68%, 44%);
}

.exit {
  fill: hsl(94, 60%, 50%);
}

#unicorn-btn {
  transition: transform 0.5s ease-in-out;
}

#unicorn-btn:hover {
  transform: scale(2.5);
}

#unicorn-icon {
  margin-top: -80px;
  margin-bottom: 20px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  background: white;
}

h1 {
  display: grid;
  color: white;
  font-size: 50px;
}
svg {
  width: 100vw;
  height: 30vh;
  background: white;
}

section {
  display: grid;
  grid-template-rows: 1fr 1fr 5fr;
  align-self: center;
}
